.App {
  display: flex;
  flex-direction: column;

  place-items: center;


}

.users {

  background-color: rgb(124, 124, 124);
  padding: 1.5rem;
  margin: 2rem;
  width: 20em;
  height: 15em;
  border-radius: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: center;
  justify-items: center;


}

.paginationBttns {
  width: 70%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  place-items: center;
  align-items: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2d2eff;
  color: #2d2eff;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #4343a2;
}

.paginationActive a {
  color: white;
  background-color: #2d2eff;
}

.divImageCard {
  width: 100px;
  height: 100px;
  margin: auto;
}

.imgC {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}